@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

.myfire{
    font-family: Rancho;
  font-size: 60px;
  margin: 40px 0;
  text-align: center;
}

.myfire-small{
  font-family: Rancho;
  font-size: 30px;
  text-align: center;
}

.myfooter {

} 